* {
    box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
    background-image: url(../Resources/Images/Background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: black;
    background-color: rgba(128, 159, 173, .5);
    text-align: center;
    margin: 70px 50px;
}

section[name="text-area"] {
    background-color: rgba(237, 223, 211, .5);
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 50px;
}

section[name="text-area"] h2 {
    width: 50px;
    height: 50px;
    color: white;
    background-color: #8B6C56;
    text-align: center;
    margin: -15px;
    border-radius: 50%;
    padding: 10px;
}

 textarea {
    margin: 20px;
    width: 80%;
    height: 150px;
    display: block;
    margin-top: 30px;
} 

button {
    color: white;
    background-color: #8B6C56;
    width: 20%;
    margin-bottom: 20px;
}

section[name="data-area"] {
    margin: 0 0 100px 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    /*flex-direction: column;
    align-items: center;*/
}

li {
   margin: 0 70px 0 0;
}

ul li {
    background-color: #809FAD;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    padding: 14px;
}

ul li li {
    background-color: rgba(237, 223, 211, .0);
    border-radius: 0%;
    color: black;
    font-weight: lighter;
    /*
    padding: 50px;
    */
} 

/* ul, li {
    list-style-type: none;
    text-align: center;
    display: inline;
    background-color: blueviolet;
}

ul li li {
    background-color: rgba(237, 223, 211, .5);
} */

/* section[name="data-area"] ul, li {
    list-style-type: none;
    text-align: center;
} */

/* section[name="data-area"] li {
    display: inline;
} */

footer {
    color: black;
    background-color: rgba(237, 223, 211, .5);
    text-align: center;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    padding: 25px;
    
}
